<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/iframe.css">
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/1/1e/Circle-icons-calculator.svg">
        <title>Widget Calculator</title>
    </head>
        <script src="../static/js/buttons.js"></script>
    <body>
        <a class="me" href="https://github.com/azziko">Aziz Sharipov</a>
        <div class="_wrapper">
            <div class="calc_wrapper">
                <form class="calc" action="http://127.0.0.1:8080/" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="display">
                        <input id="display" type="text" maxlength="15" placeholder="{{ . }}" name="value" readonly>
                    </div>
                    <ul class="buttons">
                        <div class="line">
                            <li class="operator">
                                <input type="button" onclick='oper("+")' value="+">
                            </li>
                            <li class="operator">
                                <input type="button" onclick='oper("-")' value="--">
                            </li>
                            <li class="operator">
                                <input type="button" onclick='oper("*")' value="*">
                            </li>
                            <li class="operator">
                                <input type="button" onclick='oper("/")' value="/">
                            </li>
                        </div>
                        <div class="line">
                            <li>
                                <input type="button" onclick='math("1")' value="1">
                            </li>
                            <li>
                                <input type="button" onclick='math("2")' value="2">
                            </li>
                            <li>
                                <input type="button" onclick='math("3")' value="3">
                            </li>
                            <li class="operator">
                                <input type="reset" value="C">
                            </li>
                        </div>
                        <div class="line">
                            <li>
                                <input type="button" onclick='math("4")' value="4">
                            </li>
                            <li>
                                <input type="button" onclick='math("5")' value="5">
                            </li>
                            <li>
                                <input type="button" onclick='math("6")' value="6">
                            </li>
                            <li class="operator">
                                <input type="button" onclick='back()' value="CE">
                            </li>
                        </div>
                        <div class="line">
                            <li>
                                <input type="button" onclick='math("7")' value="7">
                            </li>
                            <li>
                                <input type="button" onclick='math("8")' value="8">
                            </li>
                            <li>
                                <input type="button" onclick='math("9")' value="9">
                            </li>
                            <li class="operator">
                                <input type="submit" value="=">
                            </li>
                        </div>
                        <div class="line">
                            <li>
                                <input type="button" onclick='math("0")' value="0">
                            </li>
                            <li>
                                <input type="button" onclick='math("00")' value="00">
                            </li>
                            <li>
                                <input type="button" onclick='oper(".")' value=".">
                            </li>
                        </div>
                    </ul>
                </form>
            </div>
        </div>
    </body>
</html>